<%- include("partials/head"); -%>
    <img src="../images/StarLion.png" alt="lion brewery" />
    <h1>Welcome to my landing page</h1>
    <h3>POST METHOD</h3>
    <form action="/login" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <input type="submit" />
    </form>

    <h3>GET METHOD</h3>
    <form action="/login" method="get">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <input type="submit" />
    </form>

<%- include("partials/footer"); -%>


